/* reset default */
a
{
    text-decoration: none;
    color: black;
}

ol, ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.clear
{
    clear: both;
}
/* /reset default */
/* group */
.group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* IE6 */
* html .group
{
    height: 1%;
}
/* IE7 */
*:first-child+html.group
{
    min-height: 1px;
}
/* /group */
form fieldset
{
    margin: 0 0 15px 0;
    border: 0;
}

form fieldset textarea,
form fieldset input
{
    width: 50%;
    padding: 5px;
    border: 1px solid #7f7f7f;
    background: #fff url("/images/shadow_input.png") repeat-x top left;
}

form fieldset label
{
    display: block;
    margin: 0 0 3px 0;
    font-weight: bold;
}

.button a
{
    padding: 5px 14px;
    color: black;
    border: 1px solid #47dbde;
    background: #47dbde url("/images/bg_button.png") repeat-x 0 50%;
}

.button a:hover
{
    background-color: #006fa1;
    border-color: #006fa1;
    color: #fff;
}

body
{
    background-color: #ececec;
    margin: 0px;
    padding: 0px;
}

.header
{
    padding: 0px 20px;
    padding-top: 5px;
    min-height: 50px;
    background: #c1c1ff url("/images/bg_header.png") repeat-x 0 0;
    border-bottom: 3px groove #c1c1ff;
}

.header ul.site_navigation
{
    clear: both;
    margin: 7px 10px;
    margin-bottom: 0px;
}

.header ul.site_navigation li
{
    float: left;
}

.header ul.site_navigation li a
{
    display: block;
    padding: 2px 10px;
    background: #f1f1f1 url("/images/bg_button.png") repeat-x 0 50%;
}

.header ul.site_navigation li a:hover
{
    background-color: #ffffff;
}

.main
{
    min-height: 400px;
    width: 90%;
    margin: 5px auto;
}

.footer
{
    margin: 15px 0px;
    padding: 5px 10px;
    background-color: #e5e5e5;
    font-size: 12px;
    clear: both;
}

